# ClickHouse
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DATABASE=default

# InfluxDB v3
INFLUXDB_URL=http://localhost:8086
INFLUXDB_TOKEN=YOUR_API_TOKEN
INFLUXDB_ORG=YOUR_ORG
INFLUXDB_DATABASE=nginx_logs

# Prometheus
PUSHGATEWAY_URL=http://localhost:9091

# TimescaleDB
TIMESCALE_HOST=localhost
TIMESCALE_PORT=5432
TIMESCALE_USER=postgres
TIMESCALE_PASSWORD=password
TIMESCALE_DATABASE=postgres
